.homePage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  
    
}
.captionPrt{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 25px;
   
}
.button {
    font-family:Georgia, 'Times New Roman', Times, serif ;
    text-decoration: none;
    color: honeydew;
    background-image: linear-gradient(orange , red );
    text-align: center;
    padding: 10px 40px;
    border-radius: 5px;
}
.handlebtn{
    margin-left: 550px;
    font-weight: 600;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 10px;
    color: aliceblue;
    background: linear-gradient(180deg,#684efb .01%,#5a00dd 100.01%);
}
@media screen and (max-width: 440px) {
    .homePage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
       
    }
    .handlebtn{
        margin-left: 55px;
        font-weight: 600;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 0;
        border-radius: 10px;
        color: aliceblue;
        background: linear-gradient(180deg,#684efb .01%,#5a00dd 100.01%);
    }
    .imageHandle{
        width: 300px;
        height: auto;
        position: relative;
        right: 40px;
    }
    .captionPrt{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 225px;
       
    }
    .captionPrt p {
        margin-right: 25px;
    }
    
}