.contentHandle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.oneChart{
    padding-right: 50px;
}
@media screen and (max-width: 440px) {
    .contentHandle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25px;
    }
    .oneChart{
        padding-right: 0px;
    }
}