.contentHandle{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 440px) {
    .contentHandle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25px;
    }
}